{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "SystemJS": true
  },
  "plugins": [
    "react",
    "babel"
  ]
}
